#root {
  position: absolute;
  width: 100%;
}

.logo {
  image-rendering: optimizeSpeed;
  width: 48px;
  height: 48px;
  padding: 4px;
}

.acitem {
  margin-left: 4px;
  margin-top: 8px;
}

.acitem:hover {
  background-color: #EEE;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}